.brand-logo-container {
    display: flex;
    align-items: center;
  }
  
  .brand-logo {
    width: 80px;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .brand-logo {
      width: 60px;
    }
  }
  
  .app__brand-name {
    font-family: Arial, sans-serif;
    font-size: 60px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    display: inline-flex;
    align-items: center;
  }
  
  .header-link {
    color: inherit;
    text-decoration: none;
  }
  
  @media (max-width: 500px) {
    .app__brand-name {
      font-size: 12px;
      flex-wrap: wrap;
    }
    
    .brand-logo-container {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .app__brand-name--first {
    color: green;
  }
  
  .app__brand-name--second {
    color: yellow;
  }
  
  .app__brand-name--third {
    color: red;
  }
  

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f8f8;
  }
  
  .navbar-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: none;
  }
  
  .navbar-menu.open {
    display: block;
  }
  
  .navbar-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    display: flex;
  }
  
  .navbar-menu-list li {
    margin-right: 10px;
  }
  
  .navbar-menu-list li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu-list li a {
    color: #555;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar-menu-list {
      flex-direction: column;
    }
  
    .navbar-menu-list li {
      margin-bottom: 10px;
      margin-right: 0
    }
}  
  